{% extends 'base.html.twig' %}

{% block content %}
    <h1>Bienvenue sur la bourse aux équipiers du YCH</h1>
    <div>
        <p>Trouvez des équipiers avec qui naviguer. Trouvez des skippers qui recherchent des équipiers.</p>
    </div>

    <div>
        <a href="{{ path('signup') }}" class="btn btn-primary">Inscription</a>
    </div>
{% endblock %}
