{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer bateau</h1>

    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
