{% extends 'base.html.twig' %}

{% block content %}
    <div class="alert alert-success">
        Votre candidature a bien été prise en compte. Nous allons rapidement vous tenir informé.
    </div>
{% endblock %}
